@{
    ViewBag.Title = "Help";
}
<div class="col-md-12 addleftmargin">
    <h2>Help</h2>
        <br />
            <div>
                <h4><b>Creating a new project</b></h4>
                <p>Select the <b>New project</b> button on the main page and give the project a name.</p>
                <p>Then you can open the project or invite others to join you. </p>
            </div>
        <br />
            <div>
                <h4><b>Editing a project</b></h4>
                <p>You can work on your projects at the same time as other users that have access to it. Make sure to save your changes</p>
                <p>regularly by clicking the <b>Save</b> button.</p>
            </div>
        <br />
            <div>
                <h4><b>Inviting other users to your project</b></h4>
                <p>Select the option button on the project, there you select a invite option. Input the email address or addresses</p>
                <p>of the users you want to invite. A person who is not a user of EditThor will have to sign up before begin able</p>
                <p>to start working with you on the project. You can see which users have access to the project on the project page.</p>
            </div>
        <br />
            <div>
                <h4><b>Leaving a project</b></h4>
                <p>You can leave a project that you've been invited to. Just select the <span class="glyphicon glyphicon-align-justify"></span> <b>project menu</b> and click <b>Share</b>.</p>
                <p>Input the email address of the user you want to invite. A person who is not a user of EditThor will have to sign up before</p>
                <p>being able to start working with you on the project. You can see which users currently have access to the project on the project's page.</p>
            </div>
        <br />
            <div>
                <h4><b>Changing the editor theme</b></h4>
                <p>Click your username in the top right corner and select <b>Themes</b>. You will be directed to a page where you can select from a </p>
                <p>dropdown list of different themes for the editor.</p>

            </div>
        <br />
            <div>
                <h4><b>Adding a file to a project</b></h4>
                <p>When you create a project, a .html file is created automatically. Inside the project, you can then add more files by selecting  </p>
            </div>
        <br />
            <div>
                <h4><b>Downloading the code</b></h4>
                <p>You can download all your code to a zip file on your computer. Select the <span class="glyphicon glyphicon-align-justify"></span> <b>project menu</b> and click <b>Download (.zip)</b>.</p>
            </div>
         <br />
                @Html.ActionLink("Back", "Index", "Home", htmlAttributes: new { @class = "btn btn-default" })    
</div>