@model EditThor1.Models.ViewModels.ListProjectViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="main-content">
    <div class="col-md-2">
        <ul>
            <li><a class="btn custom-btn" href="#">All projects</a></li>
            <li><a class="btn custom-btn" href="#">My projects</a></li>
            <li><a class="btn custom-btn" href="#">Shared With me</a></li>
        </ul>
    </div>
    <div class="col-md-10">
       <!-- <a class="btn custom-btn col-md-12" href="#"><span class="glyphicon glyphicon-plus"></span></a>-->

        <table class="table">
            <tr>
                <th>
                   
                </th>
            </tr>
            @foreach (var item in Model.AllProject)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                </tr>
            }

        </table>

        @Html.ActionLink("new project", "CreateProject", "Project", "Project", htmlAttributes: new { @class = "btn btn-default" })       
    </div>
</div>