
@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="main-content">
    <div class="col-md-2">
        <ul>
            <li><a class="btn custom-btn" href="#">All projects</a></li>
            <li><a class="btn custom-btn" href="#">My projects</a></li>
            <li><a class="btn custom-btn" href="#">Shared With me</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <a class="btn custom-btn col-md-12" href="#"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>