@model EditThor1.Models.ViewModels.ListFileViewModel
@using EditThor1.Controllers;
@{
    ViewBag.Title = "OpenEditor";
}

<script src="@Url.Content("~/Scripts/ace-builds-master/ace-builds-master/src-noconflict/ace.js")"></script>
<script src="http//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='jquery/jquery.js' type="text/javascript"></script>
<script src='jquery/jquery-ui.custom.js' type="text/javascript"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setMode("ace/mode/html");


    $("form").submit(function() {
        $("#hidden_editor").val(editor.session.doc.getAllLines());
    });

        function findFooLineNumbers(editor) {
            var lines = editor.session.doc.getAllLines()
            console.log("buttons yay");
            console.log(lines);
            return lines;
        }



      /*  $(document).onclick(function () {

            $("#save-btn").
        });*/


        var returner = document.getElementById("save-btn").onclick = function () { findFooLineNumbers(editor) };
        document.getElementById('theArray').value = returner;
        
        
</script>


<div><a id="save-btn" class="btn btn-success">Save</a></div>

@using (Html.BeginForm("Save", "Project", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Content, new { @id = "stringArrayValue" })
    <input type="submit" value="Save code" />
}

<div class="row">
    <div class="col-md-3" id="filecolumn">
        <div>
            <ul id="filelist">
                @foreach (var item in Model.AllFiles)
                {
                    <a href="#"><li>@item.name</li></a>
                }
            </ul>
        </div>
    </div>
    <div id="editor" class="col-md-9"></div>
</div>
