@model EditThor1.Models.ViewModels.ListFileViewModel

@{
    ViewBag.Title = "OpenEditor";
}



<div><a id="save-btn" class="btn btn-success">Save</a></div>
<div class="row">
    <div class="col-md-3" id="filecolumn">
        <div id="filelist">
            <ul>
                @foreach (var item in Model.AllFiles)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    </div>
    <div id="editor" class="col-md-9"></div>
</div>
<script src="@Url.Content("~/Scripts/ace-builds-master/ace-builds-master/src-noconflict/ace.js")"></script>
<script src="http//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='jquery/jquery.js' type="text/javascript"></script>
<script src='jquery/jquery-ui.custom.js' type="text/javascript"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setMode("ace/mode/html");

        function findFooLineNumbers(editor) {
            var lines = editor.session.doc.getAllLines()
            console.log("buttons yay");
            return lines;
        }

      /*  $(document).onclick(function () {

            $("#save-btn").
        });*/


        document.getElementById("save-btn").onclick = function(){ findFooLineNumbers(editor)};
</script>