.nav > li
{
    margin-top: 4px;
}

a.logo
{
    background: url(../Images/logo1.png) no-repeat top left;
    background-size: 56px 59px;
    display: block;
    width: 56px;
    height: 59px;
    text-indent: -9999px; /* hides the link text */
    margin-top: 1px;
}
form 
{ 
    margin: 0 auto; 
    width:500px;
}
.wrapper {
  width: 25%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margintopbottom
{
    padding-bottom:30px;
    padding-top:20px;
}
.btn.glyphicon { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.428571429;
}
.btn.glyphicon::first-letter { 
    font-family: 'Glyphicons Halflings';
    line-height: 1;
}
#userbtn
{
    height: 50px;
    color: #0363a8;
    padding-top: 15px;
    font-size: 130%;
}
#red{border-top:4px solid #0363a8;}