@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="col-md-8">
    <h1>User already has access</h1>
    <h4>Select another user.</h4>
    @Html.ActionLink("Back", "ShareProject", "Project", htmlAttributes: new { @class = "btn btn-default panicbutton" })
</div>



