@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="col-md-8">
    <h1>Error</h1>
    <h4>Don't panic, but an error occurred while processing your request.</h4>
    @Html.ActionLink("Back", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-default panicbutton" })
</div>



